
nav {
    background-color: #059b3e;
    
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
  }
  .socialmedias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#contact {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */     
    overflow: hidden; /* Para asegurar que no haya desbordamiento */
  }
  #contact img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para cubrir completamente el contenedor */
  }
  /* Pseudo-elemento para superponer un fondo oscuro */
  #contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 0, 0.5); /* Color oscuro con opacidad */
  }